<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>TONALYSER - # {tag}</title>
    <!--<link rel="stylesheet" href="lib/css/tcal.css">-->
    <link rel="stylesheet" href="lib/node_modules/vis/dist/vis.min.css"/>
    <link rel="stylesheet" href="css/main.css"/>
</head>
<body>
    <header>
        <div class="logo">Tonalyser</div>
    </header>
    <article>
        <div id="visualization" class="graf-wrapper"></div>
    </article>
    <footer>
    </footer>
    <script src="lib/node_modules/vis/dist/vis.min.js"></script>
    <script>
        var graf_container = document.getElementById('visualization');
  var items = [
      {x: '2014-06-11', y: 10},
      {x: '2014-06-12', y: 25},
      {x: '2014-06-13', y: 30},
      {x: '2014-06-14', y: 10},
      {x: '2014-06-15', y: 15},
      {x: '2014-06-16', y: 30}
  ];

  var dataset = new vis.DataSet(items);
  var options = {
      start: '2014-06-10',
      end: '2014-06-18'
  };
  var Graph2d = new vis.Graph2d(graf_container, dataset, options);
    </script>
</body>
</html>