<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>TONALYSER</title>
    <!--<link rel="stylesheet" href="lib/css/tcal.css">-->
    <link rel="stylesheet" href="/static/content/main.css"/>
</head>
<body>
    <header>
        <div class="logo">Tonalyser</div>
    </header>
    <article>
        <div class="tag-form-wrapper">
            <form action="#" method="post" class="tag-form">
                <div class="form-header">
                    <h2>Write #tag and get it`s emotional tone</h2>
                </div>
                <div class="form-content">
                    <fieldset class="tag-wrapper">
                        <label for="tag"><span class="hashtag"></span></label>
                        <input type="text" id="tag" class="tag-input" placeholder="tag"/>
                    </fieldset>
                    <fieldset class="date-interval-wrapper">
                        <span class="input-date-header">Период времени</span>
                        <input type="text" name="start_date" id="start_date" class="date-input" value=""/>
                        -
                        <input type="text" name="end_date" class="date-input" id="end_date"/>
                    </fieldset>
                    <input type="submit" value="tonalyse" class="btn">
                </div>
            </form>
        </div>

    </article>
    <footer></footer>
    <!--<script type="javascript" language="JavaScript" src="lib/js/tcal.js"></script>-->
</body>
</html>