{% extends "base_tpl.html" %}
{% block content %}
    <div class="tag-form-wrapper">
        <form action="/resp" method="get" class="tag-form">
            <div class="form-header">
                <h2>Write #tag and get it`s emotional tone</h2>
            </div>
            <div class="form-content">
                <fieldset class="tag-wrapper">
                    <label for="tag"><span class="hashtag"></span></label>
                    <input type="text" id="tag" class="tag-input" name="tag" placeholder="tag"/>
                </fieldset>
                <fieldset class="date-interval-wrapper">
                    <span class="input-date-header">Период времени</span>
                    <input type="text" name="start_date" id="start_date" class="date-input" value=""/>
                    -
                    <input type="text" name="end_date" class="date-input" id="end_date"/>
                </fieldset>
                <input type="submit" value="tonelyze" class="btn">
            </div>
        </form>
    </div>
{% endblock %}
