<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>TONELYZER - #{tag}</title>
    <!--<link rel="stylesheet" href="lib/css/tcal.css">-->
    <link rel="stylesheet" href="../static/content/vis.min.css"/>
    <link rel="stylesheet" href="../static/content/main.css"/>
</head>
<body>
    <header>
        <div class="logo">Tonelyzer</div>
    </header>
    <article>
        <div class="graph-wrapper">
            <h2>#{tag}</h2>
            <div id="visualization" class="graph"></div>
        </div>
    </article>
    <footer>
        <div class="sign">Created by "enhance your calm" team</div>
    </footer>
    <script src="../static/scripts/vis.min.js"></script>
    <script>
        var graph_container = document.getElementById('visualization');

        var groups = new vis.DataSet();

        groups.add({
            id : 1,
            content: 'Positive',
            className: 'positive-item'
        })

        groups.add({
            id : 2,
            content: 'Negative',
            className: 'negative-item'
        })

        var items = [
              {x: '2014-06-12', y: 10, group: 1},
              {x: '2014-06-12', y: -25, group: 2},
              {x: '2014-06-13', y: 30, group: 1},
              {x: '2014-06-13', y: -10, group: 2},
              {x: '2014-06-15', y: 15, group: 1},
              {x: '2014-06-15', y: -15, group: 2},
              {x: '2014-06-16', y: 30, group: 1}
          ];
        var dataset = new vis.DataSet(items);

        var options = {
            drawPoints: false,
            style: 'bar',
            start: '2014-06-10',
            end: '2014-06-18'
        };
        var Graph2d = new vis.Graph2d(graph_container, dataset, groups, options);
    </script>
</body>
</html>