//color
@main_bg_color: #fdfdfd;
@main_font_color: #333;
@midle_gray: #aaa;
@purple_as_swag: #4A116D;
body{
  background: url("../img/bg-pattern.png")@main_bg_color ;
}


//@import url(https://fonts.googleapis.com/css?family=Exo+2:400,200&subset=latin,cyrillic);
//@import "roboto_font";
@import "exo-2_font";
@base_font_size: 14px;

body,input, textarea, keygen, select, button {
  font-family: 'Exo 2';
  font-size: @base_font_size;
  font-weight: 300;
}

//div{
//  -webkit-border-radius: 13px;
//  -moz-border-radius: 13px;
//  border-radius: 13px;
//}
